1     the [1;32mball[0m travelled 90 mph on his serve
2     the mayor threw out the first [1;32mball[0m
3     the [1;32mball[0m rolled into the corner pocket
4     they had to carry a ramrod as well as powder and [1;32mball[0m
5     a [1;32mball[0m of fire
6     the [1;32mball[0m was already emptying out before the fire alarm sounded
7     she kicked him in the [1;32mball[0ms and got away
8     he played with his rubber [1;32mball[0m in the bathtub
9     a [1;32mball[0m of mud caught him on the shoulder
10    the [1;32mball[0m at the base of the thumb
11    he stood on the [1;32mball[0ms of his feet
12    he threw nine straight [1;32mball[0ms before the manager yanked him
13    [1;32mball[0m wool
