1     [1;32mdo[0m research
2     [1;32mdo[0m nothing
3     How is she [1;32mdo[0ming in her new job?
4     Will $100 [1;32mdo[0m?
5     A 'B' grade [1;32mdo[0mesn't suffice to get me into medical school
6     What makes her [1;32mdo[0m this way?
7     The [1;32mdo[0mg acts ferocious, but he is really afraid of people
8     We could [1;32mdo[0m with a little more help around here
9     This car [1;32mdo[0mes 150 miles per hour
