1     this patient provides a typical [1;32mexample[0m of the syndrome
2     there is an [1;32mexample[0m on page 10
3     I profited from his [1;32mexample[0m
4     they decided to make an [1;32mexample[0m of him
5     but there is always the famous [1;32mexample[0m of the Smiths
6     you must work the [1;32mexample[0ms at the end of each chapter in the textbook
