1     People [1;32mlive[0md in Africa millions of years ago
2     we had to [1;32mlive[0m frugally after the war
3     The race car driver [1;32mlive[0md through several very serious accidents
4     Can you [1;32mlive[0m on $2000 a month in New York City?
5     My grandfather [1;32mlive[0md until the end of war
6     I have [1;32mlive[0md a kind of hell when I was a drug addict
7     The holocaust survivors have [1;32mlive[0md a nightmare
8     I [1;32mlive[0md through two divorces
9     You must accept yourself and others if you really want to [1;32mlive[0m
10    a [1;32mlive[0m television program
11    brought to you [1;32mlive[0m from Lincoln Center
12    [1;32mlive[0m entertainment involves performers actually in the physical presence of a [1;32mlive[0m audience
13    [1;32mlive[0m coals
14    tossed a [1;32mlive[0m cigarette out the window
15    got a shock from a [1;32mlive[0m wire
16    [1;32mlive[0m ore is unmined ore
17    a [1;32mlive[0m bomb
18    a [1;32mlive[0m ball is one in play
19    the happiest person a[1;32mlive[0m
20    the nerve is a[1;32mlive[0m
21    doctors are working hard to keep him a[1;32mlive[0m
22    burned a[1;32mlive[0m
23    a [1;32mlive[0m canary
24    a [1;32mlive[0m concert hall
25    [1;32mlive[0m ammunition
26    a [1;32mlive[0m bomb
27    a [1;32mlive[0mly tennis ball
28    the club members are a really [1;32mlive[0m bunch
29    [1;32mlive[0m copy is ready to be set in type or already set but not yet proofread
30    a [1;32mlive[0m issue
31    still a [1;32mlive[0m option
32    a [1;32mlive[0m wire
33    a [1;32mlive[0m volcano
34    the volcano is very much a[1;32mlive[0m
35    the opera was broadcast [1;32mlive[0m
