1     • She wants it for a [1;32mball[0m, this poor unbalanced girl.
2     • It was the first time I'd ever been invited to a [1;32mball[0m.
3     • Alomar said it was a [1;32mball[0m.
4     • The kitten was playing with a [1;32mball[0m of yarn.
5     • Comets are [1;32mball[0ms of ice and dirt that circle the sun.
6     • a big beach [1;32mball[0m
7     • Shape the cookie dough into [1;32mball[0ms and put them in the refrigerator.
8     • But suddenly the sight of Giuseppe Signori's invitingly lofted [1;32mball[0m into the penalty area put a spring in his step.
9     • Mommy, where's my [1;32mball[0m?
10    • The University holds a summer [1;32mball[0m at the end of June.
11    • Instead of bowling the [1;32mball[0m, which bore a small silver shield, Mr Cottle threw it at a low-flying swan.
12    • The 49ers had the [1;32mball[0m on the Bengals' 6-yard line, first-and-goal, down by a touchdown.
13    • Lukic must have seen the [1;32mball[0m extremely late but still managed to get down well.
14    • Then she travels with the [1;32mball[0m.
15    • When hedgehogs are in danger, they curl their bodies into tight [1;32mball[0ms.
16    • The mallet whacked into the wooden [1;32mball[0m, and the women laughed as the men groaned.      throw/hit/kick/catch etc a [1;32mball[0m
17    • He can hit a thrown [1;32mball[0m with a stick of wood.
18    • Children were playing and throwing a [1;32mball[0m for each other to catch.
19    • You can also invent little games, such as kicking a [1;32mball[0m in a bucket or bowl of water.
20    • After a few laps of the track we could kick a [1;32mball[0m about or even have a go at throwing a javelin.
21    • It is a little like throwing a [1;32mball[0m out of a moving train.
22    • Take the act of throwing a [1;32mball[0m.
23    • They remind you of a bunch of schoolboys wandering down a lonely road, kicking a [1;32mball[0m along.
24    • It was a timeless scene: a brick house, a mown meadow, a man and his boy playing [1;32mball[0m.
25    • The editor would have doubled it, if you'd played [1;32mball[0m with me.
26    • She played [1;32mball[0m, she had difficulty with spelling, and she wanted to be a doctor when she grew up.
27    • He has no one to play [1;32mball[0m with and tosses his [1;32mball[0m against the wall in a most despondent fashion.
28    • There is a simple, inexpensive solution for those who refuse to play [1;32mball[0m with the system.
29    • Their loan officer refuses to play [1;32mball[0m, so we have to get a loan from a different bank.
30    • It seemed clear to us that we would always have the time to play [1;32mball[0m and get better as we went along.
31    • You kids should go outside if you want to play [1;32mball[0m.
