1     • But the man was a romantic and probably saw Steve as an [1;32mobstacle[0m he might have to overcome.
2     • There's no reason why the fact of being a parent should be an [1;32mobstacle[0m to women's career progression.
3     • an [1;32mobstacle[0m in the road
4     • As he progressed there is little doubt that he would have found his path increasingly hampered by [1;32mobstacle[0ms.
5     • The greatest [1;32mobstacle[0m to economic progress has been mass unemployment.
6     • The deal should go through, but there are several legal [1;32mobstacle[0ms to overcome first.
7     • The main [1;32mobstacle[0m was the steep Crooksbury Hill after 19 miles, with the Punchbowl being a descent.
8     • There still are major [1;32mobstacle[0ms ahead, such as trips to Georgetown and Villanova.
9     • She had to overcome a lot of [1;32mobstacle[0ms to finally make it to drama college.
10    • There are a number of [1;32mobstacle[0ms in the way of a lasting peace settlement.
11    • Troops may be moved over intervening models, buildings, terrain and any other [1;32mobstacle[0ms or scenery.
12    • But most entrepreneurial managers tell us that unions have not been their primary [1;32mobstacle[0m.
13    • Getting people to care-enough to bother doing some-thing-seems to be the real [1;32mobstacle[0m.
14    • The lack of money is a serious [1;32mobstacle[0m that could prevent the project from succeeding.formidable [1;32mobstacle[0ms
15    • Selim had formidable [1;32mobstacle[0ms to overcome, however, in modernising the archaic structure of the Ottoman empire.
16    • The Pennines presented the most formidable [1;32mobstacle[0ms of all to the canals, but even they were successfully overcome.
